@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Moon+Dance&family=Nova+Mono&family=Scada:wght@700&display=swap');

$primary: #009A9C;
$green-about: #A9FFCC;
$blue-about: #3C7ABD;
$blue-contact: #0e4886e7;
$family-text: 'Nova Mono';
$family-title: 'Moon Dance';
$family-nav: 'Caveat';
$family-gral: 'Scada';